dist: jammy

language:
  - node_js

node_js:
  - '20'

before_install:
  - npm install -g npm@10

cache:
  directories:
    - '$HOME/.npm'

if: tag IS blank # do not build tags

notifications:
  slack:
    secure: 'cSSAYBBXcUtz0zchX4XSw7avs2+eU4GIYnGgHzOZn7TOhnjc8/wReJ7SkztM/vn7HDilZcKMu1LckNixgscfGa5V7ZN+bhc+flHxrhhdAYjJT+8BSfFODeTRwW+/02aBdZKiDXFv+9/xZQQwVltMUL5NAmozdFVjG09YVhnqwFqxP5xreqSejqwni8vPByxClIb2YNfqeP0XbkvBK/Ce/cHA/jr851NmGM88cRrOwyCUirHY6q1ZdVLboYIcbeNGhKfan14EgONmwxDWS9SoYGYRNvf0sJjTHbVxxoPj0mg6aFSugboEOhtAbrRXZK4yKy6jq+MwEkhsTpj5Weee4tQ7qDIOmwW6nqka9E5jZEiF8q29sLkpjd+ZUGfJQEGtLXUMpNJmFjCc1EaOC73PuQa9lxjWBjqqzxysgtgwu93/zi32nvYCtOalNmYtwURwg7aR6PfgQsB6xLeUbWU/qO453MZ9/kQpJRP5Na6mZH/OZv07U0qNfE9PTxwMQws8wOLhUvKQkNPkz5uTMoJJvXd1khxyonj450s+JwcqA1VYoEpEjUzJDIgY3XQfia2AOBkUGeoVf4JNVva6x8GCWnN0I1UrNn4DCK/bHz+EojkLj/jizPPUOBkGcpnk+NE1BhL+HcWCZE/Gf2BUl54YMrXV1uZ361lw7qDLLrgAeb4='

install:
  - npm ci --ignore-scripts
  - env -i PATH=$PATH GH_TOKEN='' npm rebuild

script:
  - npm run lint
  - sort-package-json --check

deploy:
  provider: script
  skip_cleanup: true
  script: NPM_TOKEN=$GH_TOKEN semantic-release
  on:
    node_js: '20'
    all_branches: true
